**/Asset/
/Frame Dumps/bin
/Frame Dumps/script.txt
/Frame Dumps/Den of Wolves - INJECT (Official Music Video).mp4
/Frame Dumps/Simon Viklund Making Den of Wolves Sound Badass.mp4
/Frame Dumps/Den_of_Wolves_Tech_Demo_Unite_2024.mp4
/Frame Dumps/Den of Wolves - Gameplay Reveal Trailer.webm
**/desktop.ini